.card{
    position: relative;
}

.card img {
    width: 100%;
    display: block;
    border-radius: 12px;
    background-color: rgb(1, 40, 16);
    
}

.card .front {
    transform:rotateY(90deg) ;
    transition: all ease-in 0.2s;
    position: absolute;
}

.flipped .front {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}

.card .cover {
    transition: all ease-in 0.3s;
    transition-delay: 0.2s;
    cursor: pointer;
}

.flipped .cover {
    transform: rotateY(90deg);
    transition-delay: 0s;
}