@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
  font-family: Raleway, sans-serif;  
  height: 100vh;
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  background-image: linear-gradient(150deg,rgb(34, 34, 34), rgb(83, 112, 175))
}
